/*codigo de style.css*/
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@charset "utf-8";

.navBar{
	padding-top: 1%;
	background: red;
	height: 100px;
	font-weight: bolder;
	font-size: 40px;
	color: #fff;
	font-family: 'Oswald', sans-serif;

}
/*codigo para el fomr*/
.form{
	padding-top: 8%;
	padding-left:12%;
	padding-right: 12%;
	padding-bottom: 8%;
}

/*img de pikachu*/
.pika{
	width: 200px;
	height: 200px;
	padding-top: 5%;
}

.pika:hover{
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #ec731e;
	-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
	transform: rotate(360deg) !important;
	-webkit-transform: rotate(360deg) !important;
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	filter: saturate(80%);
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}